@import "tailwindcss";

@theme {
  --color-primary-blue: #00416a;
  --color-primary-blue-hover: #0a638f;
  --color-background: #faf8f5;
  --color-text-color: #2b2d42;
  --color-cta: #fb6609;
  --color-red-warning: #ad1f21;
}
